<launch>
    <node pkg="corobot_qrcode" type="detect" name="left">
    <param name="device" value="/dev/videoleft" />
    <param name="csvfile" value="$(find corobot_qrcode)/barcodePoints.csv" />
    </node>

    <node pkg="corobot_localization" type="localization.py" name="ekf"/>
    <node pkg="corobot_obstacle_avoidance" type="obstacle_avoidance" name="obstacle_avoidance">
      <remap from="cmd_vel" to="mobile_base/commands/velocity" />
    </node>
    <node pkg="corobot_navigation" type="nav.py" name="nav"/>
    <node pkg="corobot_manager" type="manage.py" name="manage"/>
    <node pkg="corobot_manager" type="corobot_ui.py" name="popup"/>
    <node pkg="corobot_qrcode" type="detect" name="right">
     <param name="device" value="/dev/videoright" />
     <param name="csvfile" value="$(find corobot_qrcode)/barcodePoints.csv" />
    </node>

</launch>
