<launch>

    <param name="turtlebot_node/gyro_scale_correction" value="1.0"/>
    <param name="turtlebot_node/odom_angular_scale_correction" value="1.0"/>

    <!-- Simulation parameters. -->
    <param name="/use_sim_time" value="false"/>
    <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_description)/robots/turtlebot.urdf.xacro'" />
    <param name="robot_description" command="$(arg urdf_file)" />

    <param name="robot/name" value="$(optenv ROBOT corobot)"/>
    <param name="robot/type" value="turtlebot"/>

    <!-- Turtlebot Driver -->
    <node pkg="turtlebot_node" type="turtlebot_node.py" name="turtlebot_node" output="screen" respawn="true" args="--respawnable">
        <param name="bonus" value="false" />
        <param name="update_rate" value="10.0" />
    </node>

    <!-- Turtlebot Laptop Battery Diagnostics -->
    <node pkg="turtlebot_node" type="laptop_battery.py" name="turtlebot_laptop_battery">
        <param name="acpi_path" type="string" value="/proc/acpi/battery/BAT0" />
    </node>

    <!-- Map -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(find corobot_map)/map/robotMap_params.yaml"/>
    <node pkg="corobot_map" type="map.py" name="corobot_map_server"/>

</launch>
