<launch>
  <arg name="base"       value="$(optenv TURTLEBOT_BASE roomba)"/>  <!-- create, rhoomba -->
  <arg name="battery"    value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="stacks"     value="$(optenv TURTLEBOT_STACKS circles)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
  <arg name="simulation" value="$(optenv TURTLEBOT_SIMULATION false)"/>
  
  <param name="/use_sim_time" value="$(arg simulation)"/>
  <param name="turtlebot_node/gyro_measurement_range" value="150"/>
  <param name="turtlebot_node/gyro_scale_correction" value="1.37"/>
  <param name="turtlebot_node/odom_angular_scale_correction" value="1.00"/>
  
  <include file="$(find turtlebot_bringup)/launch/includes/_zeroconf.launch"/>
  <include file="$(find turtlebot_bringup)/launch/includes/_robot.launch">
    <arg name="base" value="$(arg base)" />
    <arg name="stacks" value="$(arg stacks)" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)" />
  </include>
  <include file="$(find turtlebot_bringup)/launch/includes/_mobile_base.launch">
    <arg name="base" value="$(arg base)" />
  </include>
<!--
  <include file="$(find turtlebot_bringup)/launch/includes/_netbook.launch">
    <arg name="battery" value="$(arg battery)" />
  </include>
  <include file="$(find turtlebot_bringup)/launch/includes/_app_manager.launch"/>-->
  <include file="$(find corobot_bringup)/map.launch"/>
</launch>
