<launch>
	<arg name = "turn" />
	<arg name = "time" />
	<arg name = "vel" />

	<node pkg="corobot_spin" type = "spin.py" name = "rotate">
		<param name="nTurns" value="$(arg turn)"/>
		<param name="timePerTurn" value="$(arg time)"/>
		<param name="angularV" value="$(arg vel)"/>
		<remap from="cmd_vel" to="mobile_base/commands/velocity"/>
	</node>
</launch>
